<app-template-basic title="Create document">
  <div class="header-nav">
    <button nbButton status="info" [routerLink]="['../list']">Cancel</button>
    <button nbButton status="primary" (click)="onSubmit()">Create</button>
  </div>
  <div class="doc-add">
    <form [formGroup]="addDocFormGroup">
      <nb-card status="primary">
        <nb-card-header>
          <input
            type="text"
            formControlName="title"
            nbInput
            fullWidth
            placeholder="Title"
          />
        </nb-card-header>
        <nb-card-body class="editor-body">
          <ckeditor
            [editor]="Editor"
            [config]="editorConfig"
            formControlName="content"
          ></ckeditor>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</app-template-basic>
