<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <div class="logo" (click)="goToHome()">Team<span>Docs</span></div>
  </div>
</div>

<div class="header-container actions">
  <nb-actions class="left" size="small">
    <nb-action
      class="control-item"
      icon="log-in-outline"
      link="/auth/login"
      *ngIf="!isAuthenticated"
    ></nb-action>
  </nb-actions>
  <div class="user-nav" *ngIf="isAuthenticated">
    <nb-user
      *ngIf="user"
      badgePosition="inverted"
      size="medium"
      [nbContextMenu]="userMenu"
      [name]="user?.name"
      [picture]="user?.picture"
    ></nb-user>
  </div>
</div>
