@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  nb-user,
  nb-action {
    cursor: pointer;
  }

  .left {
    display: flex;
    width: 100%;
    order: 0;
    flex-direction: row;
  }
  .right {
    order: 1;
    flex-direction: row-reverse;
  }

  .logo-containter {
    display: flex;
    align-items: center;
  }

  .control-item {
    display: block;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .navigation {
      padding-right: nb-theme(padding);
      text-decoration: none;
      nb-icon {
        line-height: 0;
        font-size: 2rem;
      }
    }

    .logo {
      cursor: pointer;
      padding: 0 nb-theme(padding);
      font-size: 1.75rem;
      white-space: nowrap;
      color: nb-theme(color-primary-100);

      span {
        color: black;
      }
    }
  }

  @include keyframes(pulse) {
    0% {
      box-shadow: 0 0 1px 0 rgba(nb-theme(color-primary-100), 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(nb-theme(color-primary-100), 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(nb-theme(color-primary-100), 0);
    }
  }

  @include keyframes(pulse-light) {
    0% {
      box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
    }
    20% {
      box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
    }
    100% {
      box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
    }
  }

  @include media-breakpoint-down(md) {
    nb-action:not(.toggle-settings) {
      border: none;
    }

    .control-item {
      display: none;
    }
  }

  @include media-breakpoint-down(sm) {
    nb-user ::ng-deep .user-name {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    .header-container {
      .logo {
        font-size: 1.25rem;
      }
    }

    nb-action:not(.toggle-settings) {
      padding: 0;
    }
  }

  @include media-breakpoint-down(xs) {
    .right ::ng-deep {
      display: none;
    }
  }
}
