<nb-card size="medium">
  <nb-card-header>
    Notifications
  </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let n of notifications">
      {{ n }}
    </nb-list-item>
  </nb-list>
</nb-card>
