@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.4);
}
