nb-card-header {
  display: flex;
  justify-content: space-between;
  .user-avatar {
    nb-user ::ng-deep {
      .user-name,
      .user-title {
        color: white;
      }
    }
  }
  .created-date {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
    &::before {
      content: ' ';
    }
  }
  .card-actions {
    display: flex;
    nb-action ::ng-deep {
      border-left-width: 0;
      nb-icon {
        color: white;
      }
    }
  }
}

nb-card-header {
  display: flex;
  .header-title {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }
  .header-sidebar {
    flex: 0 0 auto;
    display: flex;
    .edit-info {
      display: flex;
      align-items: center;
      font-weight: 400;
      .create_date,
      .updated_date {
        padding: 0 1rem;
      }
    }
    .edit-avatar {
      padding-left: 1rem;
      nb-user ::ng-deep {
        .user-name,
        .user-title {
          color: white;
        }
      }
    }
  }
}
