<app-template-basic
  [title]="doc?.title"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage=""
>
  <div class="header-nav"></div>
  <div class="doc-list">
    <nb-card class="doc-item" status="primary" *ngIf="doc">
      <nb-card-header>
        <div class="header-title">
          <div class="card-actions">
            <nb-actions>
              <nb-action
                icon="edit"
                nbTooltip="Edit document"
                [routerLink]="['/pages/docs/edit', doc._id]"
              ></nb-action>
              <nb-action
                icon="trash-2"
                nbTooltip="Delete document"
                (click)="onDelete(doc)"
              ></nb-action>
            </nb-actions>
          </div>
        </div>
        <div class="header-sidebar" *ngIf="doc">
          <div class="edit-info">
            <div class="create_date">
              <span>
                Created: {{ doc?.created_date | date: 'dd.MM.yyyy HH:mm' }}
              </span>
            </div>
            <div class="updated_date" *ngIf="doc.updated_date">
              <span>
                Updated: {{ doc.updated_date | date: 'dd.MM.yyyy HH:mm' }}
              </span>
            </div>
          </div>
          <div class="edit-avatar">
            <nb-user
              nbTooltip="User created document"
              [name]="doc.created_by.fullName"
              [picture]="doc.created_by.pictureUrl"
            >
            </nb-user>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="doc-content" [innerHTML]="doc.content"></div>
      </nb-card-body>
    </nb-card>
  </div>
</app-template-basic>
