<div class="header">
  <div class="title">
    <h2>{{ title }}</h2>
  </div>
  <div class="nav">
    <ng-content select="div.header-nav"></ng-content>
  </div>
</div>
<div class="page-container">
  <ng-content></ng-content>
</div>
