.banner {
  background-image: url('https://images.unsplash.com/photo-1487017931017-0e0d9e02bb0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position-y: 50%;
  width: 100%;
  height: 40vh;
  nb-card-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    nb-icon {
      font-size: 10rem;
    }
    .text-banner {
      padding: 0 0 0 5rem;
      h1,
      h2 {
        font-weight: 200;
      }
      h1 {
        color: rgba(255, 255, 255, 1);
        font-size: 5rem;
        padding-bottom: 0.5rem;
        line-height: 0;
      }
      h2 {
        color: rgba(255, 255, 255, 0.85);
        font-size: 2.75rem;
        font-weight: 300;
      }
    }
  }
}
