<nb-card class="banner">
  <nb-card-body>
    <!-- <nb-icon icon="edit-outline"></nb-icon> -->
    <div class="text-banner">
      <h1>Welcome in <b>TeamDocs</b></h1>
      <h2>your place for team documents.</h2>
    </div>
  </nb-card-body>
</nb-card>
