.menu-sidebar.compacted {
  & ::ng-deep nb-menu {
    nb-icon.menu-icon {
      margin: 0;
    }
  }
}

nb-layout-footer {
  box-shadow: none !important;
  & ::ng-deep nav {
    background: transparent !important;
    border: none;
  }
}
