/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@mixin ngx-pace-theme() {
  .pace .pace-progress {
    background: nb-theme(color-primary-100);
  }

  .pace .pace-progress-inner {
    box-shadow: 0 0 10px nb-theme(color-primary-100),
      0 0 5px nb-theme(color-primary-100);
  }

  .pace .pace-activity {
    display: none;
    border-top-color: nb-theme(color-primary-100);
    border-left-color: nb-theme(color-primary-100);
  }
}
