// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default);

// app wise variables for each theme
$nb-themes: nb-register-theme(
  (
    color-primary-900: #2ecc71,
    color-primary-800: #2ecc71,
    color-primary-700: #2ecc71,
    color-primary-600: #2ecc71,
    color-primary-500: #2ecc71,
    color-primary-400: #43d17f,
    color-primary-300: #58d68d,
    color-primary-200: #6ddb9c,
    color-primary-100: #82e0aa,
    color-info-900: #777777,
    color-info-800: #888888,
    color-info-700: #999999,
    color-info-600: #aaaaaa,
    color-info-500: #bbbbbb,
    color-info-400: #cccccc,
    color-info-300: #dddddd,
    color-info-200: #eeeeee,
    color-info-100: #ffffff,
    font-family-primary: Roboto,
    font-family-secondary: Roboto,
    border-basic-color-1: color-basic-100,
    border-basic-color-2: color-basic-200,
    border-basic-color-3: color-basic-300,
    border-basic-color-4: color-basic-400,
    border-basic-color-5: color-basic-500,
    padding: 0.5rem,
    text-basic-color: color-basic-1000,
    text-alternate-color: color-basic-100,
    text-control-color: color-basic-100,
    text-disabled-color: color-basic-500,
    text-hint-color: color-basic-700,
    menu-text-font-size: 1rem,
    menu-text-font-weight: 500,
    menu-item-icon-margin: 0 0.5rem 0 0
  ),
  default,
  default
);
