<app-template-basic
  title="Editing document"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage=""
>
  <div class="header-nav">
    <button nbButton status="info" [routerLink]="['/pages/docs/list']">
      Cancel
    </button>
    <button nbButton status="primary" (click)="onSubmit()">Save</button>
  </div>
  <div class="doc-add">
    <form [formGroup]="addDocFormGroup">
      <nb-card status="primary">
        <nb-card-header>
          <div class="header-title">
            <input
              type="text"
              formControlName="title"
              nbInput
              fullWidth
              placeholder="Title"
            />
          </div>
          <div class="header-sidebar" *ngIf="doc">
            <div class="edit-info">
              <div class="create_date">
                <span>
                  Created: {{ doc?.created_date | date: 'dd.MM.yyyy HH:mm' }}
                </span>
              </div>
              <div class="updated_date" *ngIf="doc.updated_date">
                <span>
                  Updated: {{ doc.updated_date | date: 'dd.MM.yyyy HH:mm' }}
                </span>
              </div>
            </div>
            <div class="edit-avatar">
              <nb-user
                nbTooltip="User created document"
                [name]="doc.created_by.fullName"
                [picture]="doc.created_by.pictureUrl"
              >
              </nb-user>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body class="editor-body">
          <ckeditor
            [editor]="Editor"
            [config]="editorConfig"
            formControlName="content"
          ></ckeditor>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</app-template-basic>
