.header-nav {
  button {
    margin-left: 1rem;
  }
}
nb-card-header {
  display: flex;
  .header-title {
    flex: 1 1 auto;
  }
  .header-sidebar {
    flex: 0 0 auto;
    display: flex;
    .edit-info {
      display: flex;
      align-items: center;
      font-weight: 400;
      .create_date,
      .updated_date {
        padding: 0 1rem;
      }
    }
    .edit-avatar {
      padding-left: 1rem;
      nb-user ::ng-deep {
        .user-name,
        .user-title {
          color: white;
        }
      }
    }
  }
}
