<app-template-basic
  title="Documents"
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage=""
>
  <div class="header-nav">
    <button nbButton status="primary" [routerLink]="['../add']">Create</button>
  </div>
  <div class="doc-list">
    <nb-card class="doc-item" status="primary" *ngFor="let doc of docs">
      <nb-card-header>
        <div class="card-title" [routerLink]="['../view', doc._id]">
          {{ doc.title }}
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="doc-content" [innerHTML]="doc.content"></div>
      </nb-card-body>
      <nb-card-footer>
        <div class="user-avatar">
          <nb-user
            size="large"
            nbTooltip="User created document"
            [name]="doc.created_by.fullName"
            [title]="doc.created_date | date: 'dd.MM.yyyy HH:mm'"
            [picture]="doc.created_by.pictureUrl"
          >
          </nb-user>
        </div>
        <div class="card-actions">
          <nb-actions>
            <nb-action
              icon="edit"
              nbTooltip="Edit document"
              [routerLink]="['../edit', doc._id]"
            ></nb-action>
            <nb-action
              icon="trash-2"
              nbTooltip="Delete document"
              (click)="onDelete(doc)"
            ></nb-action>
          </nb-actions>
        </div>
      </nb-card-footer>
    </nb-card>
    <nb-card class="doc-item" accent="info" *ngIf="docs?.length === 0">
      <nb-card-body class="empty">
        No documents!
      </nb-card-body>
    </nb-card>
  </div>
</app-template-basic>
