.doc-list {
  min-height: 75vh;
  .doc-item {
    nb-card-header {
      display: flex;
      justify-content: space-between;
      .card-title {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0;
        cursor: pointer;
      }
    }
    nb-card-footer {
      display: flex;
      justify-content: space-between;
      padding: 0.6rem;
      .created-date {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.3);
        &::before {
          content: ' ';
        }
      }
      .card-actions {
        display: flex;
        nb-action {
          & ::ng-deep nb-icon {
            color: nb-theme(color-primary-900);
          }
        }
      }
    }
    .empty {
      text-align: center;
      padding: 4rem;
      font-size: 1.25rem;
      color: rgba(0, 0, 0, 0.75);
    }
  }
}
